.cuadrado{
    padding: 20px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: navajowhite;
    height: 100%;
}
body{
background: url(..img/5.png);
}
img{
    width: 250px;
}
body{
    background: cadetblue;
}
header{
    font-size: 100px;
    text-align: center;
}
