body{
    background-color: cadetblue;
    padding: 10px;
    font-family: 'Comfortaa', cursive;  
}
.centrado{
    text-align: center;
}
.cuadrado{
padding: 20px;
margin: auto;
background-color: lavenderblush;
border-radius: 5px;

}

header{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;
}
h1{
    font-size: 150px;

}
